/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  color: #eee;
  font-size: 18pt;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #222;
    overflow: hidden;
}

input {
  font-size: 24pt;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #526d8f;
  text-shadow: none;
}

::selection {
  background: #526d8f;
  text-shadow: none;
}

.centered {
  text-align: center;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px;

}

.tabcontent {
  display: none;
}

.maintext  {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 18pt;
  line-height: 13pt;
}

.subtext {
  color: #ccc;
  font-size: 10pt;
  line-height: 0;
  font-style: italic;
}

.menu {
  display: block;
  /* overflow: hidden; */
  width: 500px;
  height: 500px;
}

.navbar {
  display: flex;
  padding-top: 15px;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}

.navbar > .tablink {
  color: #eee;
  background-color: #222;
  margin: auto;
  -moz-user-select: none;
  user-select: none;
}

.navbar > .tablink:active{
  border: none;
  background-color: #526d8f;
}

.chart {
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0 50px;
}

.chart tr{
  cursor: pointer;
  width: 200px;
}

.chart td{
  height: 50px;
  width: 150px;
}

.chart{
  line-height: 13pt;
  user-select: none;
}

.chart table {
  table-layout: fixed;
  margin: 0 25px;
  border-spacing: 0;
}

.empty {
  visibility: hidden;
}

[name="hira"], [name="kana"] {
  pointer-events: none;
}


#maincontent {
  width: 800px;
  text-align: center;
  padding: 50px;
}

#quizzer {
  width: 500px;
  height: 500px;
}

#question {
  position: relative;
  margin: auto;
  font-size: 70pt;
  display: block;
  width: 100%;
}

#kanaquestion {
  margin: 50px;
}

#wide {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  visibility: hidden;
}

#wide2{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  visibility: hidden;
}

#response {
  margin-top: auto;
  padding: 2px 4px;
  height: 50px;
  width: 150px;
  text-align: center;
}